/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}
.leaflet-pm-toolbar {
  margin-top: 10px;
  margin-left: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.leaflet-pm-toolbar .leaflet-buttons-control-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.leaflet-pm-toolbar .leaflet-buttons-control-button:hover {
  background-color: #f4f4f4;
}