/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  font-size: 0.875rem; /* tương đương text-sm */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: white;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}
.leaflet-top.leaflet-left {
  z-index: 1000 !important;
}

.leaflet-pm-toolbar .leaflet-buttons-control-button {
   width: 30px;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.leaflet-pm-icon-marker:after {
  content: "📍";
  font-size: 18px;
  line-height: 1;
}

.leaflet-pm-icon-polygon:after {
  content: "⬢";
  font-size: 20px;
  line-height: 1; 
}

.leaflet-pm-icon-rectangle:after {
  content: "⬚";
  font-size: 22px;
  line-height: 1;
}
.leaflet-pm-toolbar {
  border: 3px solid red !important;
  background: yellow !important;
}